{{!-- <div>
  {{#each mensajes}}
  <div class='d-flex align-items-center'>
    <p>
      <span class='fw-bold text-primary'>{{this.author.email}}</span>
      <span style='color:brown;'>{{this.fyh}}</span>
      :
      <span class='fst-italic text-success'>{{this.text}}</span>
    </p>
    <img src={{this.author.avatar}} class='thumbnail' alt='' />
  </div>
  {{/each}}
</div> --}}