<div id="contenedor">
    <div class='container bg-light p-4 my-2 mx-auto'>

        <div class='container bg-light p-4 my-2 mx-auto'>
            <h1 class='text-primary'>Login de usuarios</h1>
            <form action='/api/login' method='post'>
                <label for="userLogin" class="fst-italic fw-bold mb-2">Ingrese su nombre</label>
                <input placeholder="Tu nombre..." type='text' class='form-control' id='userLogin' name="userLogin"
                    style="max-width:300px;margin-bottom: 12px;" />
                <button id='logIn' type="submit" class='btn btn-success mt-2'>Log in</button>
            </form>
        </div>

    </div>